@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* VARIAVEIS */
:root {
    --cor-fundo: #10101a;
    --cor-fundo-claro: #1a1a29;
    --cor-principal: #2fbf71; /* #2f91bf */
    --cor-principal-clara: #abd8bf;
    --2nd-cor-principal: #ffffffcc;
    --cor-texto: #fff;
    --fonte-grande: 5rem;
    --h2-fonte: 1.9rem;
    --p-fonte: 1rem;
}

/* BODY */
body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
}

/* HEADER - NAVBAR */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-fundo-claro);
    padding: 24px 14%;
    transition: .3s;
}

.logo {
    color: var(--cor-texto);
    font-size: 1.8rem;
    font-weight: 600;
}

span {
    color: var(--cor-principal);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--cor-texto);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.navbar a:hover {
    background: var(--cor-principal);
    transition: .3s;
}

#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* SECTION */
section {
    padding: 120px 14%;
}

/* principal */
.principal {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.principal h1 {
    text-align: center;
    color: var(--cor-principal-clara);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form div {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 370px;
}

.form input, select {
    width: 150px;
    padding: 3px;
}

.form label {
    padding-right: 8px;
}

.t-invest input {
    width: 77px;
}

.t-invest select {
    width: 73px;
}

/* TABELA */
.tabela {
    overflow: auto;
    width: 100%;
}

table {
    border: 1px solid var(--cor-principal);
    border-collapse: collapse;
    
    width: 100%;
}
table th {
    border: 1px solid var(--cor-fundo);
    padding: 5px;
    background: var(--cor-principal);
    color: #313030;
}
table td {
    border: 1px solid var(--cor-fundo);
    text-align: center;
    padding: 5px;
    background: var(--cor-fundo-claro);
    color: var(--cor-texto);
}

/* BOTOES */
button {
    background: var(--cor-principal);
    color: var(--cor-texto);
    box-shadow: 4px 4px var(--cor-texto);
    padding: 0 40px;
    margin-top: 15px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: ease all 0.35s;
    cursor: pointer;
}

button:hover {
    background: var(--cor-texto);
    color: var(--cor-principal);
    box-shadow: 4px 4px var(--cor-principal);
}

/* Loader */

.loader {
    display: none;
    border: 8px solid #f3f3f317; /* Light grey */
    border-top: 8px solid #34db7f; /* Blue */
    border-radius: 70%;
    width: 45px;
    height: 45px;
    align-self: center;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.8);
  }

.modal-show {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

  .modal .content {
    background-color: #D3D3D3;
    /*margin: 50% auto;*/
    padding: 20px;
    border-radius: 5px;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h2{
    margin-top: 10px;
    text-align: center;
    color: var(--text-color-big);
}

.modal span {
    padding-top: 10px;
}

.modal button {
    background-color: rgb(129, 187, 91);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 10px;
}